
.grid-container__index {
	height: 100vh;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 2fr 2fr 1fr;
}

.grid-item-category {
	font-size: 30px;
	font-family: 'Inter-Bold';

	background-color: rgba(0, 0, 0, 0.7);
	border: solid 3px yellow;
	border-radius: var(--border-radius);

	color: white;
}

.grid-item-category:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.9);
	border-color: blueviolet;
}

.grid-container__index h1 {
	grid-area: 1 / 1 / 2 / -1;
}

#films {
	grid-area: 2 / 1 / 3 / 2;
}

#people {
	grid-area: 2 / 2 / 3 / 3;
}

#planets {
	grid-area: 2 / 3 / 3 / 4;
}

#vehicles {
	grid-area: 2 / 4 / 3 / 5;
}

@media only screen and (max-width: 1024px) {
	.grid-item-category {
		font-size: 25px;
	}

	.grid-container__index {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 2fr 2fr 2fr 0.5fr;
		gap: var(--spacing-small);
	}
	#films {
		grid-area: 2 / 1 / 3 / 2;
	}
	
	#people {
		grid-area: 2 / 2 / 3 / 3;
	}
	
	#planets {
		grid-area: 3 / 1 / 4 / 2;
	}
	
	#vehicles {
		grid-area: 3 / 2 / 4 / 3;
	}
}

@media only screen and (max-width: 600px) {
	.grid-item-category {
		font-size: 20px;
	}

	.grid-container__index {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
		gap: var(--spacing-small);
	}

	.grid-container__index h1 {
		grid-area: 1 / 1 / 2 / -1;
	}

	#films {
		grid-column: 1 / -1;
		grid-row: 2 / 3;
	}
	
	#people {
		grid-column: 1 / -1;
		grid-row: 3 / 4;
	}
	
	#planets {
		grid-column: 1 / -1;
		grid-row: 4 / 5;
	}
	
	#vehicles {
		grid-column: 1 / -1;
		grid-row: 5 / 6;
	}
}