/* -------------------------------- medium screens  ------------------------------------- */

@media only screen and (max-width: 1024px) { 
	h1 {
		font-size: 2.5rem;
	}

	h2 {
		font-size: 2rem;
	}

	h3 {
		font-size: 1.4rem;
	}

	.grid-container__sub-page {
		grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
		grid-template-rows: 0.3fr 1fr 1fr 1fr 0.2fr;
		grid-template-areas: 
		". . . . "
		". record1 record2 ."
		". record3 record4 ."
		". record5 record6 ."
		". . . . ";
	}

	.grid-container__sub-page h1 {
		grid-area: 1 / 2 / 2 / 4;
	}

	.header-list li,
	.header-list li span {
		font-size: 1.3rem;
	}

	.image-container__films { height: 18rem; }
	.image-container__people { height: 18rem; }
	.image-container__planets { height: 15rem; }
	.image-container__vehicles { height: 15rem; }

	.data-list li,
	.data-list li span {
		font-size: 1.1rem;
	}

}

/* -------------------------------- small screens ------------------------------------- */

@media only screen and (max-width: 600px) {	
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.8rem;
	}

	h3 {
		font-size: 1rem;
	}

	.back-button-container {
		align-items: start;
		grid-area: 1 / 2 / 2 / 3;
	}

	.back-button {
		padding: 0 var(--spacing-x-small);
	}

	.grid-container__sub-page {
		grid-template-columns: 0.1fr 1fr 0.1fr;
		grid-template-rows: 0.2fr 1fr 1fr 1fr 1fr 1fr 1fr 0.2fr;
		grid-template-areas: 
		". . ."
		". record1 ."
		". record2 ."
		". record3 ."
		". record4 ."
		". record5 ."
		". record6 ."
		". . .";
	}

	.grid-container__sub-page h1 {
		grid-area: 1 / 2 / 2 / 3;
	}

	.header-list li,
	.header-list li span {
		font-size: 1.2rem;
	}

	.image-container__films { height: 17rem; }
	.image-container__people { height: 17rem; }
	.image-container__planets { height: 14rem; }
	.image-container__vehicles { height: 14rem; }

	.data-list li,
	.data-list li span {
		font-size: var(--font-size-base);
	}
}