body {
	background: url(../assets/images/fast_stars_background.jpeg) no-repeat center center fixed; /* https://www.vecteezy.com/vector-art/21594146-abstract-background-motion-in-cosmos-travel-in-spase-with-super-speed-blurred-stars-light-in-lines-vector-illustration */
	background-size: cover;
	padding-left: var(--spacing-medium);
	padding-right: var(--spacing-medium);
}

h1 {
	font-size: 40px;
	font-family: 'Inter-Bold';
	color: yellow;
}

.grid-container {
	display: grid;
	gap: var(--spacing-small);
}

.grid-item {
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

/* -------------------------------- sub-page ------------------------------------- */

.back-button-container {
	grid-area: 1 / 1 / 2 / 2;
}

.grid-container__sub-page {
	height: 150vh;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.5fr 1fr 1fr;
}

.grid-container__sub-page h1 {
	grid-area: 1 / 1 / 2 / -1;
}

.grid-item__record {
	background-color: rgba(0, 0, 0, 0.7);
	border: solid 3px yellow;
	border-radius: var(--border-radius);

	color: white;
}

#grid-item__record-1 {
	grid-area: 2 / 1 / 3 / 2;
}

#grid-item__record-2 {
	grid-area: 2 / 2 / 3 / 3;
}

#grid-item__record-3 {
	grid-area: 2 / 3 / 3 / -1;
}

#grid-item__record-4 {
	grid-area: 3 / 1 / 4 / 2;
}

#grid-item__record-5 {
	grid-area: 3 / 2 / 4 / 3;
}

#grid-item__record-6 {
	grid-area: 3 / 3 / 4 / -1;
}

/* -------------------------------- medium screens  ------------------------------------- */

@media only screen and (max-width: 1024px) { 
	h1 {
		font-size: 30px;
	}

	.grid-container__sub-page {
		height: 250vh;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 0.5fr 1fr 1fr 1fr;
	}

	#grid-item__record-1 {
		grid-area: 2 / 1 / 3 / 2;
	}
	
	#grid-item__record-2 {
		grid-area: 2 / 2 / 3 / -1;
	}
	
	#grid-item__record-3 {
		grid-area: 3 / 1 / 4 / 2;
	}
	
	#grid-item__record-4 {
		grid-area: 3 / 2 / 4 / -1;
	}
	
	#grid-item__record-5 {
		grid-area: 4 / 1 / 5 / 2;
	}
	
	#grid-item__record-6 {
		grid-area: 4 / 2 / 5 / -1;
	}
	
}

/* -------------------------------- small screens ------------------------------------- */

@media only screen and (max-width: 600px) {
	body {
		padding: 0;
	}
	
	h1 {
		font-size: 25px;
	}

	.grid-container__sub-page {
		height: 400vh;
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}

	#grid-item__record-1 {
		grid-area: 2 / 1 / 3 / 2;
	}
	
	#grid-item__record-2 {
		grid-area: 2 / 2 / 3 / -1;
	}
	
	#grid-item__record-3 {
		grid-area: 3 / 1 / 4 / 2;
	}
	
	#grid-item__record-4 {
		grid-area: 3 / 2 / 4 / -1;
	}
	
	#grid-item__record-5 {
		grid-area: 4 / 1 / 5 / 2;
	}
	
	#grid-item__record-6 {
		grid-area: 4 / 2 / 5 / -1;
	}
}