body {
	background: url(../assets/images/fast_stars_background.jpeg) no-repeat center center fixed; /* https://www.vecteezy.com/vector-art/21594146-abstract-background-motion-in-cosmos-travel-in-spase-with-super-speed-blurred-stars-light-in-lines-vector-illustration */
	background-size: cover;
	padding-top: var(--spacing-small);
}


