body {
	background: url(../assets/images/fast_stars_background.jpeg) no-repeat center center fixed; /* https://www.vecteezy.com/vector-art/21594146-abstract-background-motion-in-cosmos-travel-in-spase-with-super-speed-blurred-stars-light-in-lines-vector-illustration */
	background-size: cover;
	padding-left: var(--spacing-medium);
	padding-right: var(--spacing-medium);
}

h1 {
	font-size: 40px;
	font-family: 'Inter-Bold';
	color: yellow;
}

.grid-container {
	display: grid;
	gap: var(--spacing-small);
}

.grid-container__sub-page {
	height: 150vh;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 0.5fr 1fr 1fr;
}

.grid-item {
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
}

@media only screen and (max-width: 1024px) { 
	h1 {
		font-size: 30px;
	}
}

@media only screen and (max-width: 600px) {
	body {
		padding: 0;
	}
	
	h1 {
		font-size: 25px;
	}
}